name: Port Scanner Workflow

on:
  workflow_dispatch:

jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tqdm

      - name: Run scanner
        run: |
          python index.py

      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: scan-output
          path: output.txt
